body{
    font-family: "Oswald", sans-serif;
}

header{
    background-color: #023059;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #BF1725;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#image{
  width: 70%;
  height: auto;
  border-radius: 15px;
}

#container{
  display: grid;
  grid-template-columns: auto auto;
}

#content{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.8);
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

#image{
    width: 75%;
    height: auto;
    padding: 10px;
}