body{
    font-family: "Oswald", sans-serif;
}

header{
    background-color: #023059;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #BF1725;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

#container{
    display: grid;
    grid-template-columns: auto auto;
}

#image{
    width: 70%;
    height: auto;
    border-radius: 15px;
}

#image-gallery{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.8);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

#image-right, #content-right{
    float: right;
}

#image-left, #content-left{
    float: left;
}

figure, p{
    text-align: center;
}

h3{
    text-align: center;
}


footer a{
    color: #023059;
    float: right;
    padding-right: 20px;
    font-style: italic;
    text-decoration: none;
}

footer a:hover{
    color: #BF1725;
}