body{
    font-family: "Oswald", sans-serif;
}

header{
    background-color: #023059;
    color: white;
    padding: 20px;
    text-align: center;
}

#image{
    width: 75%;
    height: auto;
    border-radius: 15px;
}

#image-gallery{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.8);
}

figure{
    text-align: center;
}

h3{
    text-align: center;
}


footer a{
    color: #023059;
    float: right;
    padding-right: 20px;
    font-style: italic;
    text-decoration: none;
}

footer a:hover{
    color: #BF1725;
}